

.header{
    padding: 30px;
    max-width: 100%;
    height: 60px;
}
.header_list{
    display: flex;
    justify-content: space-between;
    color: #CCD6F6;
    font-size: 18px;
}
.header_items{
    display: flex;
    justify-content: space-between; 
}
.header_box{
    padding: 0px 30px;
}
.header_boxLink{
    color: #4AFFDA;
}
.header_resume{
    color: #4AFFDA;
    border: 1px solid #4AFFDA;
    padding: 12px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

// footer/social

.social{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
  }
  .social_li{
    color: #ccd6f6;
  }
  .socialEm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    text-transform: lowercase !important;
    transition: 0.3s;
    transform: rotate(90deg); 
    color: #ccd6f6;
    margin-bottom: 50px;
  }
  .socialEmail{
    color: #ccd6f6;
     text-decoration: none;
  }
  .social_border1{
    border-left: 1px solid white;
    height: 100px;
    margin-left: 50px;
  }
  
  .social_border2{
    border: 1px solid white;
    width: 100px;
  }