.other_titleFirst{
    text-align: center;
    font-size: 76px;
}
.other_subtitle{
    text-align: center;
    color: #64FFDA;
    padding-bottom: 50px;
    font-size: 18px;
}

.other_list1, .other_list2, .other_list3{
    display: flex;
    justify-content: space-between;
    flex: 0 1 0.0333%;
    // flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.other_items{
    background: #112240;
    border-radius: 10px;
    padding: 30px;
}
.other_title{
    font-size: 24px;
}
.other_desc{
    color: #CCD6F6;
    font-size: 18px;
}
.other_ul{
    display: flex;
    gap: 20px;
    padding: 0px;
}
.other_box{
    text-align: center;
}
.box_title{
    font-size: 76px;
}
.box_desc{
    color: #CCD6F6;
    font-size: 18px;
}
.box_button{
    border-radius: 15px;
    border: 1px solid #64FFDA;
    padding: 12px 30px;
    color: #64FFDA;
    background: #0A192E;
    font-family: Space Grotesk;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
.box_button:hover{
    color: black;
    background: #64FFDA;
}